@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #2a2c31;
	--primary: #ffffff;
	--secondary: #e84c2b;
	--tertiary: #7e858d;
}

body {
	background: var(--background);
	margin: 0;
	display: grid;
	place-items: center;
}

h1,
h2,
p {
	color: var(--primary);
}

h3,
h4,
h5,
h6 {
	color: var(--tertiary);
}

h1 {
	font-size: 2em;
}

@layer base {
	p {
		@apply text-2xl font-semibold;
	}
}

.card__background {
	background: linear-gradient(to bottom, #3b4044, #2f3138);
	border-radius: 50px;
}

.euros:after {
	content: "€";
}

.percent:after {
	content: "%";
}
