@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme */

:root {
	--background: #2a2c31;
	--card__background: linear-gradient(to bottom, #3b4044, #2f3138);
	--primary: #ffffff;
	--secondary: #e84c2b;
	--tertiary: #7e858d;
	--background__input: #656565;
	--filter: invert(52%) sepia(73%) saturate(4792%) hue-rotate(343deg)
		brightness(92%) contrast(99%);
	--filter_primary: invert(6%) sepia(10%) saturate(1293%) hue-rotate(178deg)
		brightness(101%) contrast(95%);
}

/* Light Theme */

/*
:root {
	--background: #e1eaf9;
	--card__background: linear-gradient(to bottom, #f0faff, #cdd9ec);
	--primary: #12151a;
	--secondary: #5573c2;
	--tertiary: #7d8ca2;
	--background__input: #eaf3fd;
	--filter: invert(42%) sepia(43%) saturate(698%) hue-rotate(185deg) brightness(96%) contrast(87%);

	--filter_primary: invert(100%) sepia(0%) saturate(1%) hue-rotate(281deg) brightness(103%) contrast(101%);
}

*/

body {
	background: var(--background);
	margin: 0;
	display: grid;
	place-items: center;
	padding-bottom: 10rem;
}

h1,
h2,
p {
	color: var(--primary);
}

h3,
h4,
h5,
h6 {
	color: var(--tertiary);
}

h1 {
	font-size: 2em;
}

@layer base {
	p {
		@apply text-2xl font-semibold;
	}
}

button {
	outline: none;
}
*:focus {
	outline: 0 !important;
}

.noselect,
button {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.card__background {
	background: var(--card__background);
	border-radius: 50px;
}
